@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik";
    background-color: #F6F6F6;
  }

.container {
    max-width: 100%; 
    margin: 3rem 5rem; 
    padding: 0 20px; 
  }

header {
  display: flex;
  flex-direction: row;
}

.logo {
  margin-top: 0.5rem;
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  list-style: none;
  padding: 0 8rem;
}

a {
  text-decoration: none;
  list-style-type: none;
  padding: 0 1.5rem;
  color: #4F5665;
}

.signIn-button {
  cursor: pointer;
  color: black;
  background:none;
  border: none;
  font-weight: 700;
  margin-right: 2rem;
}

.signIn-button:hover {
  color:#F53838;
}

.signUp-button {
  cursor: pointer;
  color: #F53838;
  background:none;
  border: 1px solid #F53838;
  border-radius: 30px;
  font-weight: 700;
  padding: 0 3rem;
}

.signUp-button:hover {
  background-color: #F53838;
  color:#ffff;
}

.main-section {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
}

.main-text-part {
  padding: 1rem;
}
h1 {
  font-size: 3em;
  font-weight: 500;
}

p {
  font-weight: 350;
  line-height: 35px;
  color: #4F5665
}

.main-button {
  background-color: #F53838;
  padding: 1rem 4rem;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}

.main-button:hover {
  background-color: #e45757ef;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 80%;
  margin: 10rem auto;
  padding: 2rem 5rem;
  background-color: #ffff;
  border-radius: 10px;
}

.article-box {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0 3rem;
}

.article-text b {
  font-weight: 800;
  font-size: 1.3rem;
}


.features {
  display:flex;
  flex-direction: row;
  gap: 10rem;
}

.feature-list {
  display:flex;
  flex-direction: column;
  color: #4F5665;
  line-height: 3rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.plan {
  margin: 10rem auto;
}

.packages {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  margin: 6rem auto;
}

.packages div{
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 47.5rem;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}

.packages > div > img {
  width: 9rem;
  height: 10rem;
}

.plan h2,p {
  text-align: center;
}